/*
    Name: main.scss
    Author: Ashish Chopra
    Date: 16 Jan, 2017

    This file contain CSS written in SASS for
    the extension project.
    
*/
.auto-logger-outline {
    outline: 5px solid red;
}

#auto-logger-config-panel {
    width:100%;
    background:#fff;
    top:1500px;
    @import "bootstrap";
}